* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a, ul, li {
    color: black;
    list-style: none;
    text-decoration: none;
    outline: none;
}

a:hover, a:active {
    text-decoration: none;
}

img {
    border: 0;
}

/* base */
body {
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw;
}

.header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .menu li {
    margin: 0 1vw;
}

/* brand_list */
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 3vh 0;
}

.list {
    width: 28.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
}

.item {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    margin-bottom: 1vh;
}

.name {
    font-size: 0.74em;
}

.price {
    font-size: 0.8em;
}

.paginator {
    width: 100vw;
    margin: 3vh 0;
    text-align: center;
}

.paginator a {
    display: inline-block;
}

.paginator .first {
    margin-right: 1vw;
}

.paginator .last {
    margin-left: 1vw;
}

.paginator span {
    display: inline-block;
}

.paginator span p {
    margin: 0 1vw;
}

/* menu_list */
.category {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    margin: 3vh 0;
}

.bar {
    margin: 0 1vw;
}

.menu-list {
    width: 37.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
}