:root {
    /* Size */
    --width-size: 23.438em;
    --height-size: 50em;
    --header-size: 4.063em;
    --footer-size: 5.938em;
    --body-size: calc(var(--height-size) - var(--header-size) - var(--footer-size));
    --border-size: 0.2em;
    --index-img-size: 9.375em;
    --brand-img-size: 7.5em;
    --btn-width-size: 16em;
    --btn-height-size: 2.5em;

    /* Color */
    --main-color: #6558F5;
    --border-color: #9EADBA;
}

* {
    font-family: 'NanumGothic';
    margin: 0em;
    padding: 0em;
}

html {
    width: var(--width-size);
    height: 100%;
}

h1, h2, h3, p, a, ul, li {
    color: black;
    list-style: none;
    text-decoration: none;
    outline: none;
}

a:hover, a:active {
    text-decoration: none;
}

img {
    border: 0em;
}

button {
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

button a {
    font-size: 1.1em;
    color: var(--main-color);
}

button:hover {
    background-color: var(--main-color);
}

button a:hover {
    color: white;
}

select, input {
    height: var(--btn-height-size);
}

/* base */
header {
    position: fixed;
    left: 0em;
    top: 0em;
    height: var(--header-size);
    width: var(--width-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: var(--border-size);
    border-color: var(--border-color);
}

header .hamburger {
    width: 2.3em;
    height: 2.3em;
    margin-left: 1em;
}

header .hamburger img {
    width: 2.3em;
    height: 2.3em;
}

header .logo {
    width: 3em;
    height: 3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .logo img {
    width: 3em;
    height: 3em;
}

body {
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
}

body .menu {
    position: fixed;
    left: 0em;
    top: var(--header-size);
    width: calc(12.188em - 4em);
    height: var(--body-size);
    padding: 3em 2em;
    z-index: 1;
    background-color: white;
    border-right-style: solid;
    border-right-width: var(--border-size);
    border-color: var(--border-color);
    display: none;
}

body .menu.active {
    display: block;
}

body .menu li {
    font-size: 1.5em;
    margin-bottom: 1em;
}

body .menu li a:hover {
    color: var(--main-color);
    font-weight: bold;
}

body .menu li a.active {
    color: var(--main-color);
    font-weight: bold;
}

/* index */
.introduction {
    width: var(--width-size);
    height: var(--body-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--header-size);
    padding-bottom: var(--footer-size);
    z-index: 0;
}

.introduction img {
    width: var(--index-img-size);
    height: var(--index-img-size);
    margin-top: 5em;
}

.introduction h3 {
    font-size: 1.75em;
    margin: 1.5em 1em;
}

.introduction p {
    font-size: 1em;
    text-align: center;
    margin: 0.5em 1em;
}

.introduction button {
    width: var(--btn-width-size);
    height: var(--btn-height-size);
    margin-top: 2em;
}

footer {
    height: var(--footer-size);
    width: var(--width-size);
    position: fixed;
    left: 0em;
    bottom: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    background-color: white;
    border-top-style: solid;
    border-top-width: var(--border-size);
    border-color: var(--border-color);
}

footer .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer .contact .web-title {
    font-size: 1em;
    font-weight: bold;
}

footer .contact ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .contact ul li {
    font-size: 0.8em;
}

footer p {
    font-size: 0.8em;
    text-align: center;
}

/* brand_list */
.wrap {
    width: var(--width-size);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    margin-top: var(--header-size);
    margin-bottom: var(--footer-size);
}

/* #messages {
    visibility: hidden;
    margin-top: 1em;
    padding: 0.5em 0em;
    width: calc(var(--width-size) - 2em);
    height: 1em;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}

#messages .error {
    color: red;
    font-weight: bold;
    text-align: center;
}

#messages.active {
    visibility: visible;
} */

.page-title {
    font-size: 1.5em;
    margin-top: 0.8em;
}

.list {
    width: calc(var(--brand-img-size) * 2 + 4em);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    margin-top: 0.5em;
}

.item-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: var(--brand-img-size);
    height: var(--brand-img-size);
    margin-bottom: 0.5em;
    /* filter: drop-shadow(1px 1px 1px black); */
    /* box-shadow: 1px 1px 1px black; */
    border-radius: 50%;
}

.item-container .name {
    width: var(--brand-img-size);
    height: 2.5em;
    font-size: 0.8em;
    text-align: center;
}

/* menu_list */
.category {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select {
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
}

.select select {
    width: 7.5em;
}

.price {
    font-size: 0.8em;
}

/* calculator */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .select {
    margin-top: 1.5em;
}

.item-list {
    width: calc(var(--width-size) - 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-width: var(--border-size);
    border-color: var(--border-color);
}

.item-list.active {
    display: flex;
}

.item-list .select {
    width: 90%;
    justify-content: center;
}

.item-list .select select {
    width: 9em;
    margin-right: 1em;
}

.item-list input {
    width: 12em;
}

.item {
    width: var(--width-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item .info {
    width: 10em;
    height: calc(var(--brand-img-size) + 1em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item .info h3 {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.item .info .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.item .image {
    margin-right: 2em;
    margin-bottom: 0em;
}

.count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.count input {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

.btn-count {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.message {
    margin-top: 1em;
    font-weight: bold;
    color: var(--main-color);
}

.count-button {
    display: none;
    margin-top: 1em;
}

.count-button input {
    height: 2em;
    margin-right: 0.5em;
    padding: 0em 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.result {
    margin-top: 0.5em;
}

.result p {
    visibility: hidden;
    font-size: 0.8em;
    color: red;
    text-align: right;
}

.result p.active {
    visibility: visible;
}

.result h3 {
    width: 100%;
    text-align: right;
}

.result .sum {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result .sum h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.2em 0em;
    margin-right: 0.1em;
}

.result .sum button {
    width: 1em;
    height: 1em;
    border: none;
}

.result .sum button:hover {
    background-color: white;
}

.result .sum button img {
    width: 1em;
    height: 1em;
}

.result #result {
    font-size: 1em;
    color: var(--main-color);
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 20%;
    left: 85%;
    opacity: 70%;
    width: 3em;
    height: 3em;
    background-color: var(--border-color);
    border: none;
    border-radius: 50%;
}

.down:hover {
    background-color: var(--border-color);
}

.down img {
    width: 2em;
    height: 2em;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em;
}

.option button {
    width: var(--btn-width-size);
    height: var(--btn-height-size);
    margin-bottom: 0.75em;
}
