:root {
    /* Size */
    --width-size: 23.438em;
    --height-size: 50em;
    /* --header-size: 4.063em; */
    --header-size: 5.983em;
    --footer-size: 5.938em;
    --body-size: calc(var(--height-size) - var(--header-size) - var(--footer-size));
    --border-size: 0.2em;
    /* --header-img-size: 2.5em; */
    --header-img-size: 3em;
    --index-img-size: 7.5em;
    --brand-img-size: 7.5em;

    /* Color */
    --border-color: #9EADBA;
    --menu-color: blue;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: var(--width-size);
    height: var(--height-size);
}

h1, h2, h3, p, a, ul, li {
    color: black;
    list-style: none;
    text-decoration: none;
    outline: none;
}

a:hover, a:active {
    text-decoration: none;
}

img {
    border: 0;
}

/* base */
header {
    position: fixed;
    left: 0em;
    top: 0em;
    height: var(--header-size);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: var(--border-size);
    border-color: var(--border-color);
}

header .hamburger img {
    width: var(--header-img-size);
    height: var(--header-img-size);
    border-radius: 50%;
    margin-left: 1em;
}

header .logo {
    width: var(--header-img-size);
    height: var(--header-img-size);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .logo img {
    width: var(--header-img-size);
    height: var(--header-img-size);
    border-radius: 50%;
}

body {
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
}

body .menu {
    position: fixed;
    left: 0em;
    top: var(--header-size);
    width: calc(12.188em - 4em);
    height: var(--body-size);
    padding: 3em 2em;
    z-index: 1;
    background-color: white;
    border-right-style: solid;
    border-right-width: var(--border-size);
    border-color: var(--border-color);
    display: none;
}

body .menu.active {
    display: block;
}

body .menu li {
    font-size: 1.5em;
    margin-bottom: 1em;
}

body .menu li a:hover {
    color: var(--menu-color);
}

body .menu li a.active {
    color: var(--menu-color);
}

/* index */
.introduction {
    width: var(--width-size);
    height: var(--body-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: var(--header-size);
    padding-bottom: var(--footer-size);
    z-index: 0;
}

.introduction p {
    font-size: 1em;
    margin-left: 2em;
}

.introduction img {
    width: var(--index-img-size);
    height: var(--index-img-size);
    margin-right: 2em;
    border-radius: 50%;
}

footer {
    height: var(--footer-size);
    width: 100%;
    position: fixed;
    left: 0em;
    bottom: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    background-color: white;
    border-top-style: solid;
    border-top-width: var(--border-size);
    border-color: var(--border-color);
}

footer .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer .contact .web-title {
    font-size: 1em;
    font-weight: bold;
}

footer .contact ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .contact ul li {
    font-size: 0.8em;
}

footer p {
    font-size: 0.8em;
    text-align: center;
}

/* brand_list */
.wrap {
    width: var(--width-size);
    height: var(--body-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: var(--header-size);
    padding-bottom: var(--footer-size);
    z-index: 0;
    overflow: scroll;
}

.brand-title {
    margin: 1em 0em;
}

.list {
    width: 19em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
}

.item {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: var(--brand-img-size);
    height: var(--brand-img-size);
    border-radius: 50%;
    margin-bottom: 0.5em;
}

.name {
    font-size: 0.74em;
}

.price {
    font-size: 0.8em;
}

/* menu_list */
.category {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5em 0em;
}

.select select {
    width: 6.25em;
    margin-right: 1em;
}

.menu-list {
    width: 37.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
}

/* calculator */
