{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:image" content={% static 'menus/images/calculator.png' %}>
        <meta property="og:title" content="기프티콘 계산기">
        <meta property="og:description" content="기프티콘 사용할 때, 돈 계산 어려우세요?">
        <link rel="icon" href={% static 'menus/images/calculator.png' %}>
        <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
        <link rel="stylesheet" href={% static 'menus/css/styles.css' %}?ver=0.331111>
        <title>기프티콘 계산기</title>
        <script src={% static 'menus/js/hamburger.js' %}?ver=0.2 defer></script>
        <script src={% static 'menus/js/sidebar.js' %}?ver=0.2 defer></script>
        {% block script %}
        {% endblock script %}
    </head>

    <header>
        <a class="hamburger" href="#"><img src={% static 'menus/images/list.png' %}></a>
        <a class="logo" href={% url 'index' %}>
            <img src={% static 'menus/images/calculator.png' %}>
        </a>
    </header>
    <body>
        <ul class="menu">
            <li><a class="link" href={% url 'index' %}>홈</a></li>
            <li><a class="link" href={% url 'brand-list' %}>브랜드</a></li>
            <li><a class="link" href={% url 'menu-list' %}>메뉴</a></li>
            <li><a class="link" href={% url 'calculator' %}>계산기</a></li>
        </ul>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        <div class="contact">
            <p class="web-title">기프티콘 계산기</p>
            <ul>
                <li>기획자 김채연 kcy_s2@naver.com</li>
                <li>개발자 염경민 gmyeom1230@gmail.com</li>
            </ul>
        </div>
        <p>Copyright 2022. KCY All rights reserved.</p>
    </footer>
</html>
