{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% static 'menus/css/styles.css' %}?ver=0.1>
        <title>Gifticon Calculator</title>
        <script src={% static 'menus/js/hamburger.js' %}?ver=0.1 defer></script>
        <script src={% static 'menus/js/sidebar.js' %}?ver=0.11 defer></script>
    </head>

    <header>
        <a class="hamburger" href="#"><img src={% static 'menus/images/starbucks/logo.png' %}></a>
        <a class="logo" href={% url 'index' %}>
            <img src={% static 'menus/images/starbucks/logo.png' %}>
        </a>
    </header>
    <body>
        <ul class="menu">
            <li><a class="link" href={% url 'index' %}>홈</a></li>
            <li><a class="link" href={% url 'brand-list' %}>브랜드</a></li>
            <li><a class="link" href={% url 'menu-list' %}>메뉴</a></li>
            <li><a class="link" href={% url 'calculator' %}>계산기</a></li>
        </ul>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        <div class="contact">
            <p class="web-title">기프티콘 계산기</p>
            <ul>
                <li>기획자 김채연 cocodusco@gmail.com</li>
                <li>개발자 염경민 gmyeom1230@gmail.com</li>
            </ul>
        </div>
        <p>Copyright 2021 000000 Allrights reserved.</p>
    </footer>
</html>
