{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% static 'menus/css/styles.css' %}?ver=2.1111>
        <title>Gifticon Calculator</title>
    </head>

    <header>
        <img class="menu" src={% static 'menus/images/starbucks/logo.png' %}>
        <a class="logo" href={% url 'index' %}>
            <img src={% static 'menus/images/starbucks/logo.png' %}>
        </a>
    </header>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</html>