{% extends './base.html' %}
{% load static %}

{% block content %}
    {% if brand_list %}
        <div class="wrap">
            <h2 class="brand-title">브랜드</h2>
            <ul class="list">
                {% for brand in brand_list %}
                    <li>
                        <a href={% url 'menu-brand' brand.id %}>
                            <div class="item">
                                <img class="image" src={% get_static_prefix %}{{brand.img_path}}>
                                <h3 class="name">{{brand.name}}</h3>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}