{% extends './base.html' %}
{% load static %}

{% block content %}
    <div class="wrap">
        <form>
            <select name="brand" onchange="if(this.value) location.href=(this.value);">
                <option value={% url 'menu-list' %}>전체</option>
                {% for brand in brands %}
                    {% if id %}
                        {% if brand.id == id %}
                            <option value={% url 'menu-brand' brand.id %} selected>{{brand.name}}</option>
                        {% else %}
                            <option value={% url 'menu-brand' brand.id %}>{{brand.name}}</option>
                        {% endif %}
                    {% else %}
                        <option value={% url 'menu-brand' brand.id %}>{{brand.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
        <ul class="category">
            {% if id %}
                {% for brand in brands %}
                    {% if id == brand.id %}
                        <li><a href={% url 'menu-category' id=brand.id ct='음료' %}>음료</a></li>
                        <li class="bar">/</li>
                        <li><a href={% url 'menu-category' id=brand.id ct='푸드' %}>푸드</a></li>
                        <li class="bar">/</li>
                        <li><a href={% url 'menu-category' id=brand.id ct='상품' %}>상품</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <!-- <li><a href="#">음료</a></li>
                <li class="bar">/</li>
                <li><a href="#">푸드</a></li>
                <li class="bar">/</li>
                <li><a href="#">상품</a></li> -->
            {% endif %}
        </ul>
        {% if menu_list %}
            <ul class="list">
                {% for menu in menu_list %}
                    <li>
                        <div class="item">
                            <img class="image" src={% get_static_prefix %}{{menu.img_path}}>
                            <h3 class="name">{{menu.name}}</h3>
                            <h3 class="price">{{menu.price}}원</h3>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="paginator">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="first">처음</a>
                    <a href="?page={{page_obj.previous_page_number}}" class="prev">이전</a>
                {% endif %}

                <span class="page">
                    <p>{{page_obj.number}} / {{page_obj.paginator.num_pages}}</p>
                </span>
            
                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}" class="next">다음</a>
                    <a href="?page={{page_obj.paginator.num_pages}}" class="last">마지막</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}