{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="wrap">
    <form method="post" action={% url 'menu-list' %} onChange="this.submit();">
        {% csrf_token %}
        <div class="select">
            <select name="id">
                <option value="0">브랜드</option>
                {% for brand in brands %}
                    {% if id %}
                        {% if brand.id == id %}
                            <option value={{brand.id}} selected>{{brand.name}}</option>
                        {% else %}
                            <option value={{brand.id}}>{{brand.name}}</option>
                        {% endif %}
                    {% else %}
                        <option value={{brand.id}}>{{brand.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
    
            {% if id %}
            <select name="ct">
                <option value="category" selected>카테고리</option>
                {% with '음료 푸드 상품' as list %}
                    {% for category in list.split %}
                        {% if ct %}
                            {% if category == ct %}
                                <option value={{category}} selected>{{category}}</option>
                            {% else %}
                                <option value={{category}}>{{category}}</option>
                            {% endif %}
                        {% else %}
                            <option value={{category}}>{{category}}</option>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </select>
            {% else %}
            <select>
                <option selected>카테고리</option>
                <option disabled>브랜드를 먼저 선택해 주세요!</option>
            </select>
            {% endif %}
            
            <select name="od">
                {% with '이름순 가격낮은순 가격높은순' as list %}
                    {% for order in list.split %}
                        {% if order == od %}
                            <option value={{order}} selected>{{order}}</option>
                        {% else %}
                            <option value={{order}}>{{order}}</option>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </select>
        </div>
    </form>

    <div id="menu-list">
        {% if menu_list %}
            <ul class="list">
                {% for menu in menu_list %}
                    <li>
                        <div class="item-container">
                            <img class="image" src={% get_static_prefix %}{{menu.img_path}}>
                            <h3 class="name">{{menu.name}}</h3>
                            <h3 class="price">{{menu.price|intcomma}}원</h3>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock content %}